<div infinite-scroll
     [infiniteScrollDistance]="50"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScrollDown()">
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Characters</h1>
  </div>
</div>
<div class="row">
  <div *ngFor="let character of characters$ | async" class="col-xs-6 col-sm-2">
    <div class="card card-inverse" ngbPopover="{{ character.name }}" triggers="mouseenter:mouseleave">
      <img class="img-fluid card-img" src="{{ character.resolvedImage }}" alt="{{ character.name }}">
      <div class="card-img-overlay">
        <h6 class="card-title">{{ character.name }}</h6>
      </div>
    </div>
  </div>
</div>
