<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Find!</button>
      </span>
    </div>
  </div>
  <div class="col-lg-6">
    <button type="button" class="btn btn-primary" (click)="actions.getCharacters()">LOAD</button>
  </div>
</div>

<hr />

<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
</p>

<thumbnail-grid></thumbnail-grid>
